.about {
    padding: 50px;
    background-color: var(--cream);
  }
  
  .about h2 {
    font-size: 2rem;
    color: var(--lilac);
  }
  
  .about p {
    font-size: 1.25rem;
    color: var(--text-dark);
  }
  
  .about-character img {
    width: 100px;
    height: auto;
    margin-top: 20px;
  }
  